[submodule "xed"]
	path = xed
	url = https://github.com/intelxed/xed.git
[submodule "mbuild"]
	path = mbuild
	url = https://github.com/intelxed/mbuild.git
[submodule "reliability"]
	path = reliability
	url = https://github.com/spolstra/hotsniper-reliability.git
